<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Array Data Example</title>
</head>
<body>
    <h1>JSON Data:</h1>
    <pre><%= JSON.stringify(responseback , null, 2) %></pre>

    <a href = "<%= responseback.prelimdesign %>"
    Download title = "test_image" target="_blank">
       <button type = "button" > Download </button>
    </a>
</body>
</html>

<!-- <html>
    <body>
       <a href = "https://wattmonk.s3.ap-south-1.amazonaws.com/designs/1694778361895/attachments/ANEET%20%283%29%20%282%29%20%282%29%20%282%29%20%281%29%20%281%29_1694778517958.pdf"
        Download title = "test_image" target="_blank">
           <button type = "button" > Download </button>
        </a>
    </body>
</html> -->